@model IList<Entertainment.Models.Episode>


@*    @{
        int i = 0;
        foreach (var episode in Model){
        <button>Tap @i</button>
        i++;
        }
    }
    *@

    @foreach(var episode in Model){
        <h3>@episode.full_name</h3>
        <button>@episode.id</button>
    }